# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env/
venv/
ENV/
env/
*.egg-info/
dist/
build/

# Visual Studio Code
.vscode/
.history/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Otros
*.swp
*.swo

fp_alumnos.csv
*.csv
/alumnos